---
---
@import "{{ site.theme }}";

.page-header {
  padding: 0.5rem;
}

.project-name {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.project-tagline {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.btn {
  float: right;
}

.back {
  float: left;
}

.nav {
  margin-bottom: 0.5rem;
}

.post-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #159957;
}

.post-list {
  margin-bottom: 1rem;
}

.post-item {
  margin-bottom: 1rem;
}

.post-item-title {
  color: #1e6bb8;
  float: left;
}

.post-item-link {

}

.post-item-time {
  font-size: 0.8rem;
  color: #d4d4d4;
  float: right;
}

.pagination {
  display: inline-block;
  padding-top: 2rem;
  margin: auto;
  width: 50%;
}

.pagination li {
  display: inline;
}

.pagination a {
  border-radius: 5px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #d4d4d4;
}